<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>v-if指令</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="button" value="切换显示" @click="toggleIsShow">
		<p v-if="isShow" >黑马程序员</p>
		<p v-show="isShow" >黑马程序员 - v-show修饰</p>
		<h2 v-if="temperature>=35">热死啦</h2>
	</div>
	<script type="text/javascript">
		var vm = new Vue({
			el: '#app',
			data: {
				isShow: false,
				temperature: 20,
			},
			methods: {
				toggleIsShow: function(){
					this.isShow = !this.isShow;
				}
			}
		})
	</script>
</body>
</html>