node_modules
wanjm.config.js
test.js
*~
*.swp
t.js
temp
ecosystem.config.js
package-lock.json
.idea
temp0/1471571607425_1132047363_.plaso
undefined2018-06-11.log
.vscode/launch.json
.vscode/settings.json
package.json
pm2temp.config.js
*.log
dist/
tempTest
*.class